.container {
  display: flex;
  justify-content: space-between;
}

.textarea-container {
  flex: 1;
  padding-right: 20px;
}

.list-container {
  flex: 1;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  margin-left: 5px;
}
